/*
 * Univers
 */
@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-55-roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-65-bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-75-black.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-85-xblack.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/*
 * Berkeley Mono
 */
@font-face {
    font-family: 'Berkeley';
    src: url('/fonts/berkeley-mono-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/*
 * PPNeueMachina
 */
@font-face {
    font-family: 'PPNeueMachina';
    src: url('/fonts/PPNeueMachina-PlainLight.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PPNeueMachina';
    src: url('/fonts/PPNeueMachina-PlainLightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PPNeueMachina';
    src: url('/fonts/PPNeueMachina-PlainRegular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PPNeueMachina';
    src: url('/fonts/PPNeueMachina-PlainRegularItalic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PPNeueMachina';
    src: url('/fonts/PPNeueMachina-PlainUltrabold.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PPNeueMachina';
    src: url('/fonts/PPNeueMachina-PlainUltraboldItalic.otf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaBackup';
    src: url('/fonts/helvetica/Helvetica-Light.ttf') format('opentype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaBackup';
    src: url('/fonts/helvetica/Helvetica.ttf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaBackup';
    src: url('/fonts/helvetica/Helvetica-Bold.ttf') format('opentype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaBackup';
    src: url('/fonts/helvetica/Helvetica-BoldOblique.ttf') format('opentype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'HelveticaBackup';
    src: url('/fonts/helvetica/Helvetica-Oblique.ttf') format('opentype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}

code {
    font-family: 'Berkeley', monospace;
}
.mono {
    font-family: 'Berkeley', monospace;
}
.univers {
    font-family: 'Univers', sans-serif;
}
.ppneue {
    /* Helvetica is already built into Safari. Otherwise, attempt to load `HelveticaBackup`. */
    font-family: 'HelveticaBackup', sans-serif;
}
