@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-55-roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-65-bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-75-black.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-85-xblack.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Berkeley';
    src: url('/fonts/berkeley-mono-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

.mono {
    font-family: 'Berkeley', monospace;
}
