:root {
    --accent: #2337ff;
    --accent-dark: #000d8a;
    --black: 15, 18, 25;
    --gray: 96, 115, 159;
    --gray-light: 229, 233, 240;
    --gray-dark: 34, 41, 57;
    --gray-gradient: rgba(var(--gray-light), 50%), #fff;
    --box-shadow: 0 2px 6px rgba(var(--gray), 25%),
        0 8px 24px rgba(var(--gray), 33%), 0 16px 32px rgba(var(--gray), 33%);
    --border-radius: 16px;
}
@font-face {
    font-family: 'Atkinson';
    src: url('/fonts/atkinson-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Atkinson';
    src: url('/fonts/atkinson-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Berkeley';
    src: url('/fonts/berkeley-mono-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-55-roman.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-65-bold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-75-black.otf') format('opentype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Univers';
    src: url('/fonts/universlt-85-xblack.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: 'Univers', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    text-align: left;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 18px;
    background-color: black;
}
main {
    width: 900px;
    max-width: calc(100% - 2em);
    margin: auto;
    padding: 3em 1em;
    color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 0.5rem 0;
    line-height: 1.2;
}
h1 {
    font-size: 3.052em;
}
h2 {
    font-size: 2.441em;
}
h3 {
    font-size: 1.953em;
}
h4 {
    font-size: 1.563em;
}
h5 {
    font-size: 1.25em;
}
strong,
b {
    font-weight: 700;
}
p {
    margin-bottom: 1em;
}
.prose p {
    margin-bottom: 2em;
}
textarea {
    width: 100%;
    font-size: 16px;
}
input {
    font-size: 16px;
}
table {
    width: 100%;
}
code {
    padding: 2px 5px;
    background-color: rgb(var(--gray-light));
    border-radius: 2px;
    color: initial;
}
pre {
    padding: 1.5em;
    border-radius: 8px;
}
pre > code {
    all: unset;
}
blockquote {
    border-left: 4px solid var(--accent);
    padding: 0 0 0 20px;
    margin: 0px;
    font-size: 1.333em;
}
hr {
    border: none;
    border-top: 1px solid rgb(var(--gray-light));
}
@media (max-width: 720px) {
    body {
        font-size: 18px;
    }
    main {
        padding: 1em;
    }
}

/* Scrollbar */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0);
    border-radius: 6px;
}

/* Firefox */
scrollbar-color: rgba(255, 255, 255, 0.1) rgb(0, 0, 0);

.sr-only {
    border: 0;
    padding: 0;
    margin: 0;
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
    clip: rect(1px 1px 1px 1px);
    /* maybe deprecated but we need to support legacy browsers */
    clip: rect(1px, 1px, 1px, 1px);
    /* modern browsers, clip-path works inwards from each corner */
    clip-path: inset(50%);
    /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
    white-space: nowrap;
}

.main-title {
    font-weight: 400;
}

.space-title {
    background: radial-gradient(#eff1ff, #636363);
    background-size: 100% 200%;
    background-position: 100% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navigation {
    margin: 0px 0px 35px 0px;
}

.navigation ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    text-transform: uppercase;
}

.navigation li {
    text-align: left;
}

.navigation li:last-child {
    text-align: right;
}

.nav-link {
    text-decoration: none;
    color: #868686;
    padding: 10px 0;
    display: block;

    &:hover {
        color: #636363;
    }
}

.main-content {
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        'item1 item1 item2'
        'item1 item1 item3'
        'item4 item5 item5'
        'item6 item5 item5';
    gap: 16px;
    box-sizing: border-box;
    overflow: auto;
}

.grid-item {
    padding: 20px;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    text-align: center;
}

.grid-item-1 {
    grid-area: item1;
    height: 400px;

    min-width: 300px;
    min-height: 300px;
    box-shadow: inset 0 0 30px #306FDB;
    position: relative;
    overflow: hidden;
}

.grid-item-1 div {
    display: flex;
    align-items: center;
}

.grid-item-1 .content-wrapper img {
    object-fit: contain;
    width: 100px;
    height: 100px;
}

.grid-item-1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid-item-1 .content-wrapper {
    display: flex;
}

.grid-item-1 .text-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.grid-item-1 .text-wrapper div {
    width: 100%;

    &:first-child {
        font-weight: 600;
    }
    &:nth-child(2) {
        font-size: 14px;
        color: #ceced6;
    }

    & a {
        color: #06c;
        text-decoration: none;
        margin-top: 6px;
        font-size: 14px;
    }
}

.grid-item-1 .border {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 6px solid #306FDB;
    border-radius: var(--border-radius);
    pointer-events: none;
}

.grid-item-2 {
    /* background: linear-gradient(165deg, #2c4735 0%, #1d243e 60%, #101124 90%); */
    background-color: #0d1117;
    grid-area: item2;
}

.grid-item-3 {
    background: linear-gradient(to right bottom, #1f224b 0%, #2d5d85 100%);
    grid-area: item3;
}

.grid-item-4 {
    background: linear-gradient(165deg, #2c4735 0%, #1d243e 60%, #101124 90%);
    grid-area: item4;
}

.grid-item-5 {
    background: linear-gradient(to right bottom, #1f224b 0%, #2d5d85 100%);
    grid-area: item5;
}

.grid-item-6 {
    background: linear-gradient(to right bottom, #1f224b 0%, #2d5d85 100%);
    grid-area: item6;
    height: 400px;
}

.activity-chart {
    display: grid;
    grid-template-columns: repeat(10, 1fr); /* How many weeks to show */
    grid-template-rows: repeat(7, 1fr); /* 1 for each day of the week */
    gap: 2px;
    width: 100%;
    height: 100%;
}

.day {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}

.day[data-level='0'] { background: #161b22; }
.day[data-level='1'] { background: #0e4429; }
.day[data-level='2'] { background: #006d32; }
.day[data-level='3'] { background: #26a641; }
.day[data-level='4'] { background: #39d353; }
