---
import CompositionLayout from '@/layouts/CompositionLayout.astro';
---

<CompositionLayout>
    <div
        class='bg-center h-screen p-8 bg-no-repeat bg-cover'
        style="background-image: url('/compositions/gpu-programming-shader-authoring/CoverImage.jpg');"
    >
        <div class="flex items'center justify-center h-full">
            <div class='text-center'>
                <h1 class='text-6xl text-white mono'>
                    The Architecture of VSCode
                </h1>
            </div>
        </div>
    </div>
</CompositionLayout>
