---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
    <ul class='spaced-list mt-8 ppneue font-light'>
        <li class='hover:text-accent-muted'>
            <a href='/compositions/gpu-programming-shader-authoring'>
                GPU Programming and Shader Authoring
            </a>
            <p class='text-primary-muted'>
                Harness the power of the GPU for parallel computing and optimized graphics.
            </p>
        </li>

        <li class='hover:text-accent-muted'>
            <a href='/compositions/ecs-and-game-performance-optimization'>
                ECS and Game Performance Optimization
            </a>
            <p class='text-primary-muted'>
                Explore how applications can maximize hardware utilization through data oriented design.
            </p>
        </li>

        <li class='hover:text-accent-muted'>
            <a href='/compositions/the-architecture-of-vscode'>
                The Architecture of VSCode
            </a>
            <p class='text-primary-muted'>
                A comprehensive study of the architecture of Visual Studio Code.
            </p>
        </li>

        <li class='hover:text-accent-muted'>
            <a href='/compositions/integrating-the-language-server-protocol'>
                Integrating the Language Server Protocol (LSP): A Text Editor Deep Dive
            </a>
            <p class='text-primary-muted'>
                Learn how to implement the Language Server Protocol in your text
                editor.
            </p>
        </li>
    </ul>
</Layout>
