---
import Layout from '@/layouts/Layout.astro';
---

<Layout>
    <ul class='spaced-list mt-8 mono'>
        <li class='hover:text-accent-muted'>
            <a href='/compositions/gpu-programming-shader-authoring'>
                GPU Programming and Shader Authoring
            </a>
            <!-- subtitle -->
            <p class='text-primary-muted'>
                Harness the power of the GPU for stunning visual effects and optimized graphics.
            </p>
        </li>

        <li class='hover:text-accent-muted'>
            <a href=''>
                Optimizing Ocean Waves Shader
            </a>
            <!-- subtitle -->
            <p class='text-primary-muted'>
                Achieving realistic ocean rendering with performance-driven techniques.
            </p>
        </li>

        <li class='hover:text-accent-muted'>
            <a href=''>
                Seamless Image Stitching with Geometric Transformations
            </a>
            <!-- subtitle -->
            <p class='text-primary-muted'>
                Stitch together images that have been scaled, panned and rotated.
            </p>
        </li>

        <li class='hover:text-accent-muted'>
            <a href=''>
                Integrating the Language Server Protocol (LSP): A Text Editor Deep Dive
            </a>
            <!-- subtitle -->
            <p class='text-primary-muted'>
                Learn how to implement the Language Server Protocol in your text
                editor.
            </p>
        </li>

        <li class='hover:text-accent-muted'>
            <a href=''>
                High-Performance Text Buffer Design
            </a>
            <!-- subtitle -->
            <p class='text-primary-muted'>
                Fundamental data structures and algorithms for lightning-fast text editing.
            </p>
        </li>
    </ul>
</Layout>
