---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';

const weeks = 10;
const daysPerWeek = 7;
// Sample data
const activityData = new Array(weeks * daysPerWeek).fill(0).map(() => Math.floor(Math.random() * 5));
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <main>
            <h1 class='main-title space-title'>Abe M</h1>
            <h1 class='main-title space-title'>Software Engineer</h1>

            <nav class='navigation'>
                <ul class=''>
                    <li><a class='nav-link' href='#'>Compositions</a></li>
                    <li>
                        <a
                            class='nav-link'
                            href='https://github.com/FastestMolasses'
                            target='_blank'>Github</a
                        >
                    </li>
                    <li>
                        <a
                            class='nav-link'
                            href='https://twitter.com/abem_dev'
                            target='_blank'>Twitter</a
                        >
                    </li>
                    <li>
                        <a
                            class='nav-link'
                            href='https://github.com/FastestMolasses/abem_dev'
                            target='_blank'>Source</a
                        >
                    </li>
                </ul>
            </nav>

            <div class='main-content'>
                <div class='grid-item grid-item-1'>
                    <div class='border'></div>
                    <div class='content-wrapper'>
                        <img src='codeedit-icon.webp' alt='' />
                        <div class='text-wrapper'>
                            <div>CodeEdit for macOS</div>
                            <div>An Xcode-like native code editor</div>
                            <div>
                                <a
                                    href='https://github.com/FastestMolasses/CodeEdit'
                                    target='_blank'>Learn more</a>
                            </div>
                        </div>
                    </div>

                    <img src='codeedit-window-dark.webp' alt='' />
                </div>
                <div class='grid-item grid-item-2'>
                    <div class='activity-chart'>
                        {activityData.map((level, _) => (
                            <div class='day' data-level={level}></div>
                        ))}
                    </div>
                </div>
                <div class='grid-item grid-item-3'>Item 3</div>
                <div class='grid-item grid-item-4'>Item 4</div>
                <div class='grid-item grid-item-5'>Item 5</div>
                <div class='grid-item grid-item-6'>Item 6</div>
            </div>
        </main>
    </body>
</html>
