---
import '@/styles/globals.css';
import '@/styles/grid.css';
import '@/styles/fonts.css';

import Layout from '@/layouts/Layout.astro';
import Game2D from '@/components/home/Game2D';
import CodeEdit from '@/components/home/CodeEdit';
import GameEngine from '@/components/home/GameEngine';
import ProjectBox from '@/components/home/FastAPIBox';
import GithubStats from '@/components/home/GithubStats';
---

<Layout>
    <div class='grid'>
        <!-- CodeEdit -->
        <div
            class='rectangle double-wide double-tall max-h-[355px]'
            id='codeedit'
        >
            <CodeEdit />
        </div>
        <!-- Github stats -->
        <div
            class='rectangle single-wide single-tall h-[180px]'
            id='github-stats'
        >
            <GithubStats />
        </div>
        <!-- FastAPI -->
        <div class='rectangle single-wide single-tall' id='fastapi'>
            <ProjectBox title='Fastest FastAPI' imageUrl='fastapi_box.avif' />
        </div>
        <!-- 2D game -->
        <div class='rectangle single-wide single-tall' id='game2d'>
            <Game2D />
        </div>
        <!-- Game engine -->
        <div class='rectangle double-wide single-tall' id='game-engine'>
            <GameEngine />
        </div>
    </div>
    <div class='grid-2'>
        <!-- Eth Balance Server -->
        <!-- <div class='rectangle double-wide single-tall min-h-[180px]'></div> -->
        <!-- Tauri -->
        <!-- <div class='rectangle single-wide single-tall' id='tauri-square'></div> -->
        <!-- Crypto Exchange -->
        <div class='rectangle full-wide double-tall min-h-[400px]'></div>
    </div>
</Layout>
