---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang='en'>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <main>
            <h1>Abe M</h1>
            <h1>Software Engineer</h1>

            <nav class="navigation">
                <ul>
                    <li><a href="#home">Compositions</a></li>
                    <li><a href="#about">Github</a></li>
                    <li><a href="#projects">Twitter</a></li>
                    <li><a href="#contact">Source</a></li>
                </ul>
            </nav>

            <div class="main-content">
                <div class="grid-item grid-item-1">Item 1</div>
                <div class="grid-item grid-item-2">Item 2</div>
                <div class="grid-item grid-item-3">Item 3</div>
                <div class="grid-item grid-item-4">Item 4</div>
                <div class="grid-item grid-item-5">Item 5</div>
                <div class="grid-item grid-item-6">Item 6</div>
            </div>
        </main>
    </body>
</html>
